# Nome base do projeto (ex: taskflow, meu-saas)
PROJECT_NAME=meu-saas

# Configurações do Banco de Dados
DB_CONTAINER_NAME=${PROJECT_NAME}-postgres
DB_NAME=${PROJECT_NAME}_db
DB_USER=postgres
DB_PASSWORD=postgrespassword
DB_PORT=5432